:host {
  display: contents;
}

:host::ng-deep a .mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host::ng-deep a .mat-button-wrapper mat-icon {
  margin-right: 5px;
}

img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
