.resumePage h1 {
  margin-bottom: 0;
}

.resumePage h1 + blockquote {
  color: var(--ifm-color-emphasis-600);
}

.resumePage h2 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

/* Date ranges */
.resumePage p em {
  color: var(--ifm-color-emphasis-600);
  display: block;
  margin-bottom: 1.5rem;
}

.resumePage h4 {
  color: var(--ifm-color-primary);
  margin-bottom: 0;
}

.resumePage h3 {
  margin-top: 3.5rem;
}

.resumePage h2 + h3 {
  margin-top: 0;
}

.resumePage p {
  margin: 0;
}

@media (max-width: 996px) {
  .resumePage {
    padding: 1.5rem 1rem;
  }
  
}