/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: "hack";
  src: url('assets/fonts/Hack-Regular.ttf');
}
.hack-font {
  font-family: "hack";
}

pre {
  text-align: left;
}

/* @media screen and (min-width: 521px) {
  body {
    font-size: 1rem !important;
  }
} */

.easy-read p {
  font-size: 20px;
  line-height: 30px;
  color: #424242;
}

a {
  color: #212121;
  /* text-decoration: none; */
  /* font-weight: bold; */
}
