<div class="wrapper mat-typography">
  <div class="header">
    <div class="header-text">
      <h1 class="title hack-font">&lt;Austen Stone></h1>
      <h2 class="sub-title hack-font">
        <div class="skills"></div>
      </h2>
    </div>
  </div>

  <div style="margin:40px auto;width: 450px;text-align: center;">
    <h1>Hello 👋</h1>
    <p>I am currently working as a Solutions Engineer at Telit IoT Platforms where I build industrial drivers, create
      UIs,
      and automate tasks. My freelance work has consited of building and recovering custom websites and apps for all
      sorts
      of businesses.</p>
    <p>Got Questions?<br>
      <a href="mailto:miltonlaxer@gmail.com">
        <button mat-button>Contact Me</button>
      </a>
    </p>
  </div>

  <!-- 
  <mat-list role="list">
    <mat-list-item role="listitem"><a href="mailto:miltonlaxer@gmail.com">Email Me</a></mat-list-item>
  </mat-list> -->

  <footer>
    <div *ngIf="fahrenheit">
      <h3>It's {{fahrenheit | number:'1.0-0'}}&#176; F in Boca Raton. Not bad...</h3>
    </div>
  </footer>
</div>

<app-github-corner></app-github-corner>