.wrapper {
  max-width: 1024px;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  display:grid;
}

.title {
  font-size:5.5em;
  font-weight: 400;
  margin-bottom: 0;
  line-height: initial;
}

.sub-title {
  font-size:3em;
  font-weight: 400;
  margin-left: 1em;
  margin-top: 0;
}

.skills-container {
  display: inline;
}

.skills {
  display: inline;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
}

button i {
  margin-right: 5px;
}

.coding {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.coding-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000085;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coding-overlay-text {
  text-align: center;
}

#codeVideo {
  width: 100%;
}

@media (max-width:1025px) {
  .title {
    font-size:9vw;
  }
  .sub-title {
    font-size:6vw;
    margin-left: 5vw;
  }
 }


 .section {
   margin: 20px 0;
 }