:host {
  display: block;
  position: relative;
}

.wrapper {
  max-width: 1075px;
  margin: auto;
  padding: 16px;
  box-sizing: border-box;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
}

@media (max-width: 1024px) {
  .title {
    font-size: 9vw;
  }
  .sub-title {
    font-size: 6vw;
    margin-left: 5vw;
  }
}

section {
  margin-bottom: 100px;
  max-width: 100%;
}

.links {
  margin: 20px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.links > * {
  margin: 0 10px 10px 0;
}

::ng-deep .mat-tooltip {
  white-space: pre-line;
}

.bike {
  position: absolute;
  bottom: 0;
  right: 25px;
  // transform: rotate(90);
  transform: scaleX(-1);
  max-width: 300px;
}

@media only screen and (max-width: 1000px) {
  .bike {
    position: initial;
  }
}

h1 {
  font-size: 34px;
  font-weight: 400;
}

h2 {
  font-size: 24px;
}

h3 {
}

p {
  font-size: 16px;
  line-height: 28px;
}

.home-header {
  padding-top: 20px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
  gap: 10px;

  .project-image {
    grid-column: 1/8;
    grid-area: 1/5/1/-1;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    img {
      vertical-align: bottom;
      width: 100%;
      height: 100%;
    }

    &::after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      mix-blend-mode: screen;
      content: "";
      transition: ease-in-out 0.2s;
    }

    &:hover::after {
      background: black;
    }
  }

  .project-info {
    z-index: 2;
    grid-column: 6/-1;
    grid-area: 1/1/-1/-7;

    mat-card {
      font-size: 18px;
      line-height: 24px;
      padding: 20px;
    }
  }
}

h1 {
  margin: 10px 0px 40px;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -0.25px;
  line-height: 44px;
  margin-left: -17px;
}

h1:before {
  content: "<";
}
h1:after {
  content: ">";
}

.portrait {
  float: right;
  width: 300px;
  height: 300px;
  background-image: url("https://avatars.githubusercontent.com/u/22425467?v=4");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

#about {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 50px;
  .portrait-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 700px) {
  #about {
    display: grid;
    grid-template-columns: auto;
  }
  .project-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);

    .project-image {
      grid-area: 4/1/7/1;
    }
    .project-info {
      grid-area: 1/1/5/1;
    }
  }
}

@media (max-width: 1100px) {
  h1 {
    margin-left: 0;
  }
}

.typed-title {
  display: flex;
}
