:host {
  display: block;
  position: relative;
}

.wrapper {
  max-width: 725px;
  // max-width: 940px;
  margin: auto;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
}

@media (max-width: 1024px) {
  .title {
    font-size: 9vw;
  }
  .sub-title {
    font-size: 6vw;
    margin-left: 5vw;
  }
}

section {
  padding: 30px 0;
}

.contact-banner {
  margin: 20px 0;
  /* background-color: #151513; */
}

.links {
  margin: 0 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, 125px);
  grid-auto-flow: column;
  grid-gap: 10px; */
}

.links > * {
  margin: 0 10px 10px 0;
}

::ng-deep .mat-tooltip {
  white-space: pre-line;
}

.bike {
  position: absolute;
  bottom: 0;
  left: 25px;
  max-width: 300px;
}

@media only screen and (max-width: 1450px) {
  .bike {
    position: initial;
  }
}

h1 {
  font-size: 34px;
  font-weight: 400;
}

h2 {
  font-size: 24px;
}

h3 {
}

p {
  font-size: 16px;
  line-height: 28px;
}

.home-header {
  padding-top: 20px;
}
